.yearcard-img {
  width: 300px;
  height: 90px;
}

.yearcard {
  position: relative;
  margin: 30px 40px;
}

.yearcard:hover {
  cursor: pointer;
}

.yearcard-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-family: Klavika Bold;
  color: white;
}

@media (max-width: 320px) {
  .yearcard-img {
    width: 210px;
    height: 70px;
  }
  .yearcard-year {
    font-size: 2em;
  }
}
