.consultancy-title {
  margin: 0px 0px 50px 0px;
  font-family: Klavika Medium;
  letter-spacing: 2px;
  font-size: 2.5em;
  color: #292929;
  text-align: center;
  padding-top: 15px;
}

.consultancy-card-image {
  width: 30%;
  max-height: 250px;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid rgb(139, 139, 139);
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.consultancy-title-text {
  width: 60%;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.consultancy-card-title {
  font-family: Klavika Medium;
  font-size: 1.5em;
  margin: 0px 0px 5px 0px;
}

.consultancy-card-description {
  text-align: justify;
  margin: 0px;
}

.rows-setup {
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.show-small {
  display: none;
}

@media (max-width: 982px) {
  .consultancy-card-title {
    font-size: 1.1em;
  }

  .consultancy-card-description {
    font-size: 0.75em;
  }

  .consultancy-card-image {
    max-height: 180px;
  }
}

@media (max-width: 734px) {
  .consultancy-title {
    margin: 0px 0px 25px 0px;
    font-size: 2em;
  }

  .rows-setup {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .consultancy-title-text {
    width: 70%;
    margin: 10px 20px;
    font-size: 1.1em;
  }

  .consultancy-card-image {
    max-height: 200px;
    width: 70%;
  }

  .consultancy-card-description {
    font-size: 1em;
  }

  .show-large {
    display: none;
  }

  .show-small {
    display: block;
  }
}

@media (max-width: 560px) {
  .consultancy-card-title {
    font-size: 0.9em;
  }

  .consultancy-title {
    font-size: 1.7em;
  }

  .consultancy-card-description {
    font-size: 0.7em;
  }
}

@media (max-width: 420px) {
  .consultancy-card-title {
    font-size: 0.7em;
  }

  .consultancy-title {
    font-size: 1.5em;
  }

  .consultancy-card-description {
    font-size: 0.6em;
  }
}
