.newsletter-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  background: #e83f36;
  height: 100px;
}

.newsletter-img {
  width: 60px;
}

.newsletter-p {
  width: 360px;
  font-size: 15px;
  color: white;
  margin-top: 20px;
  text-align: center;
}

.newsletter-p span {
  font-family: 'Klavika Bold';
}

.newsletter-button-link {
  text-align: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.newsletter-button {
  background-color: #e83f36;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 13px;
  padding: 2px 10px;
  justify-content: center;
}

/* @media (min-width: 505px) {
  .newsletter {
    height: 70px;
  }
  .newsletter-p {
    font-size: 0.8em;
    text-align: center;
  }
  .newsletter-button-link {
    width: 30px;
  }
  .newsletter-img {
    width: 40px;
  }
  .newsletter-button {
    font-size: 0.6em;
    padding: 5px 5px;
  }
}

@media (min-width: 320px) {
  .newsletter {
    height: 100px;
  }

  .newsletter-button {
    padding: 5px 5px;
    font-size: 0.6em;
  }

  .newsletter-img {
    width: 40px;
  }
} */
