.courses-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0px 0px 40px 0px;
}

.course-title {
  padding-top: 0.9rem;
  font-family: Klavika Medium;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2.5em;
  color: #292929;
  margin: 0px 0px 40px 0px;
}

@media (max-width: 734px) {
  .course-title {
    margin: 0px 0px 25px 0px;
    font-size: 2em;
  }
}

@media (max-width: 560px) {
  .course-title {
    font-size: 1.8em;
  }
}
