.whatwedo-higher {
  margin-top: 50px;
}

.whatwedo-div {
  text-align: center;
  margin: 0px 0px 40px 0px;
  padding: 0 150px;
}

.whatwedocard-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.section-subtitle {
  color: #464646;
  margin-bottom: 0px;
}

.section-title {
  font-family: 'Klavika Bold';
  color: #292929;
}
