.whatwedo-higher {
  margin-top: 50px;
}

.whatwedo-div {
  text-align: center;
  margin: 0px 0px 20px 0px;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatwedocard-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.section-subtitle {
  color: #464646;
  margin-bottom: 0px;
}

.section-title {
  font-family: 'Klavika Bold';
  color: #292929;
}

@media (max-width: 742px) {
  .section-subtitle {
    font-size: 0.9em;
  }

  .section-title {
    font-size: 1.6em;
  }
}

@media (max-width: 475px) {
  .section-subtitle {
    font-size: 0.7em;
  }

  .section-title {
    font-size: 1.3em;
  }

  .section-p {
    font-size: 0.9em;
  }
}
