.current-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: #e83f36;
  animation: eventmove 2s;
  height: 100px;
}

.current-event-img {
  width: 80px;
  margin-left: 20px;
}

.current-event-p {
  font-size: 1.2em;
  color: white;
  text-align: center;
  margin: 20px;
  padding: 0px;
}

.current-event-p span {
  font-family: Klavika Bold;
  color: #91d3f0;
  padding: 0px 5px;
}

.current-event-button {
  background-color: #e83f36;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  padding: 2px 10px;
}

.current-event-button-link {
  margin-right: 20px;
}

@keyframes eventmove {
  0% {
    height: 0px;
  }
  10% {
    height: 10px;
  }
  20% {
    height: 20px;
  }
  30% {
    height: 30px;
  }
  40% {
    height: 40px;
  }
  50% {
    height: 50px;
  }
  60% {
    height: 60px;
  }
  70% {
    height: 70px;
  }
  80% {
    height: 80px;
  }
  90% {
    height: 90px;
  }
  100% {
    height: 100px;
  }
}

@media (max-width: 979px) {
  .current-event-p {
    font-size: 1.1em;
    margin: 0px 20px;
  }

  .current-event-img {
    width: 70px;
  }

  .current-event-button {
    font-size: 0.9em;
  }
}

@media (max-width: 902px) {
  .current-event-p {
    font-size: 1.1em;
    margin: -20px 20px 0px 20px;
  }

  .current-event-img {
    width: 70px;
    margin-top: 15px;
  }

  .current-event-button {
    font-size: 0.9em;
  }

  .current-event-button-link {
    margin-top: -40px;
  }
}

@media (max-width: 781px) {
  .current-event {
    height: 180px;
  }

  .current-event-button-link {
    margin: 0px 20px 10px 20px;
  }

  .current-event-img {
    width: 70px;
    margin: 5px 20px;
  }

  .current-event-p {
    font-size: 1.1em;
    margin: 0px 20px;
  }

  @keyframes eventmove {
    0% {
      height: 0px;
    }
    10% {
      height: 18px;
    }
    20% {
      height: 36px;
    }
    30% {
      height: 54px;
    }
    40% {
      height: 72px;
    }
    50% {
      height: 90px;
    }
    60% {
      height: 108px;
    }
    70% {
      height: 126px;
    }
    80% {
      height: 144px;
    }
    90% {
      height: 162px;
    }
    100% {
      height: 180px;
    }
  }
}

@media (max-width: 412px) {
  .current-event-button-link {
    margin: 0px 10px 10px 10px;
  }

  .current-event-img {
    width: 60px;
    margin: 5px 10px;
  }

  .current-event-p {
    font-size: 0.9em;
    margin: 0px 10px;
  }

  .current-event-button {
    font-size: 0.8em;
  }
}
