.section-subtitle {
  margin: 0px 0px 0px 0px;
  font-size: 1em;
  color: #464646;
}

.section-p {
  margin: 0px;
}

.girl-title-content {
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-family: Klavika Bold;
  color: #292929;
}

.girl-cards img {
  width: 650px;
}

.girl-main-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.girl-card-text {
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.girls-button {
  border: 2px solid #e83f36;
  border-radius: 10px;
  color: #e83f36;
  font-size: 1.1em;
  padding: 6px 16px;
  background-color: white;
  font-family: Klavika Bold;
}

@media (max-width: 742px) {
  .section-subtitle {
    font-size: 0.9em;
  }

  .section-title {
    font-size: 1.6em;
  }

  .girl-cards img {
    width: 450px;
  }

  .girls-button {
    font-size: 0.9em;
  }
  .girl-card-text{
    font-size: 17px;
  }
}

@media (max-width: 475px) {
  .section-subtitle {
    font-size: 0.8em;
  }

  .section-title {
    font-size: 1.3em;
  }

  .girl-cards img {
    width: 300px;
  }

  .girls-button {
    font-size: 0.8em;
  }
}
