.girl-title-content {
  text-align: center;
}
.girls-product {
  font-family: Klavika Bold;
}

.girl-main-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.girl-card-text {
  margin: 20px auto;
  width: 55%;
  text-align: center;
}

